@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Poppins:wght@300;400&display=swap');
:root {
    --color1: #cac96c;
    /* bianco sporco */
    --color2: #000080;
    /* blu navy marittimo */
    --clemente: #1d692d;
    /* rosmarellino */
    --rosomeli: #a97db1;
    
    --blucraino: #1e00ff;
    --giallucraino: #eeff00;

    --Mist: #90AFC5;
    --Stone: #4c768a74;
    --Shadow: #2A3132;
    --light-theme: #ffffff;
    --dark-theme: #1f1f1f;
    --2rem: 2rem;


    /* header */
    --h1-font-size: 3.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.75rem;
    /* --h4-font-size: 3rem; */

}


/* ao spengo tutto io, buonanotte gheo, bella popa, basile non leggerà mai questo messaggio */


/*gli si addice come colore in effetti (colore rosmarino)(rosmellino)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(174, 189, 199, 0.512); */
    background-color: var(--light-theme);
    font-family: 'Kanit', sans-serif;
    /* font-family: -apple-system, "Helvetica Neue", "Lucida Grande"; */

}

p {
    font-size: 1.20rem;
    line-height: var(--2rem);
    color: black;
    margin-bottom: 1rem;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    /* padding: 0 20px; */
    border: 1px solid black;
}

/* .navbar {

    
} */

.navbar-ul {
    
    min-height: 3rem;
    background-color: var(--Mist);/* bar color */
    /* margin: 0 2rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: center;/* NavBar object center */
    /* padding-left: 2rem; */

} 

/* .navbar-ul > .navbar-item > */ a {
    line-height: 3rem;
    /*background-color: var(--Stone);*/
    /* padding: 0 1rem; */
    text-decoration: none;
    color: black;
    font-size: 16px;
    /* margin-left: 10px; */
    /* display: block; */
    
}

.navbar-ul > .navbar-item > a {
    display: block;
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
    padding: 0 1rem;
}
.navbar-item > a:hover{
    background-color: var(--Stone);
    /* Tempo di interazione */
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
    font-weight: 1000;
    color: var(--Shadow);
    padding: 0 var(--2rem);
} 




.article-title {
    /* padding-left: 2rem; */
    margin-bottom: 2rem;
}

.article-title h1 {
    font-size: var(--h1-font-size);
    margin-top: 1.75rem;
    text-align: left;
}

/* .article-section {
    /* border: 1px solid black; */
    /* padding: 0 var(--2rem); */
/* } */ 

.paragraph-title {
    margin-top: 1.5rem ;
    font-size: var(--h2-font-size);
    border-bottom: 1px solid black;
}

/* .paragraph {
    margin: var(--2rem) 0;
} */

.paragraph {
    border-top: 1px solid black;
    
}
/* .salvini {
    display: block;
    margin: 0 auto;
} */

.img-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    
}
.img-container img {
    width: 60%;
}

.img-container img {
    display: block;
    /* margin: var(--2rem) auto; */
}

/* h4 {
    display: inline-block;
} */

.paragraph-subtitle {
    font-size: var(--h3-font-size);
    margin-top: 1.25rem;
}

.paragraph-subtitle-2 {
    display: block;
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 1rem;
   
}

.pd-2rem {
    padding: var(--2rem);
}

ol {
    list-style-position: inside;
}

.pd-20-x {
    padding: 0 20px;
}

.pd-20-left {
    padding-left: 20px;
}

.pd-2rem-x {
    padding: 0 var(--2rem);
}

.pd-2rem-left {
    padding-left: var(--2rem);
}

.mg-2rem-x {
    margin: 0 var(--2rem);
}

.mg-2rem-y {
    margin: var(--2rem) 0;
}

.mg-2rem {
    margin: var(--2rem);
}

.toc-navbar {
    border: 1px solid black;
    width: 20rem;
    display: none;
  
}

.toc-title {
    font-size: 1.75rem;
}


@media screen and (max-width: 768px)  {

    .main-container {
        width: 100%;
    }

    .pd-20-x {
        padding: 0 40px;
    }

    .img-container img {
        width: 100%;
    }
    
}