@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Poppins:wght@300;400&display=swap');
:root {

    --Mist: #90AFC5;
    --Stone: #4c768a74;
    --Shadow: #2A3132;
    --light-theme: #fdfdfd;
    --dark-theme: #1f1f1f;
    --2rem: 2rem;


    /* header */
    --h1-font-size: 3.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.75rem;
    /* --h4-font-size: 3rem; */

}

html {
    scroll-behavior: smooth;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(174, 189, 199, 0.512); */
    background-color: var(--light-theme);
    font-family: 'Kanit', sans-serif;
    /* font-family: -apple-system, "Helvetica Neue", "Lucida Grande"; */

}

p {
    font-size: 1.20rem;
    line-height: var(--2rem);
    color: black;
    margin-bottom: 1rem;
}

.paragraph ul {
    font-size: 1.20rem;
    list-style-position: inside;
    margin-bottom: 1rem;
}

.main-container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto ;
    min-height: 100vh;
    /* padding: 0 20px; */
    /* border: 1px solid black; */
    background-color: var(--light-theme);
    
}

.tab-content {
    /* margin-top: 3rem; */
    width: 100%;
    display: none;
    opacity: 0;
    background-color: var(--light-theme);
    box-shadow: -1px 2px 2px grey, 1px 0px 2px grey;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
}

.tab-radio {
    display: none;
}

.tabs {
    margin-top: var(--2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.tab-label {
    display: block;
    padding: 14px 16px;
    width: 50%;
    text-align: center;
    background-color: var(--Mist);
    cursor: pointer;
    box-shadow: 0px 1px 2px grey;
}

.tab-label:hover {
    background-color: lightblue;
    transition: 0.25s ease;
}

.tab-radio:checked + label {
    background-color: var(--light-theme);
    cursor: default;
    
}

.tab-radio:checked:nth-of-type(1) + label {
    box-shadow: -1px -1px 2px 0px grey, inset -1px 0px 2px 0px grey;
}

.tab-radio:checked:nth-of-type(2) + label {
    box-shadow: 1px -1px 2px 0px grey, inset 1px 0px 2px 0px grey;
}




.tab-radio:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1), 
.tab-radio:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2) {
    display: block;
    opacity:1;
    /* transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease; */
    
}



.navbar {

    /* position: relative; */
    min-height: 3rem;
    background-color: var(--Mist);
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    position: sticky;
    top: 0px;
    width: inherit;
    /* margin-bottom: 4rem; */
    /* margin: 0 2rem 0 0  ; */
    
}

.navbar-ul {
    
    /* bar color */
    /* margin: 0 2rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: center;/* NavBar object center */
    /* padding-left: 2rem; */

} 

/* .navbar-ul > .navbar-item > */ a {
    line-height: 3rem;
    height: 100%;
    /*background-color: var(--Stone);*/
    /* padding: 0 1rem; */
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* margin-left: 10px; */
    /* display: block; */
    
}

.navbar-ul > .navbar-item > a {
    display: block;
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
    padding: 0 1rem;
    background-color: inherit;
}
.navbar-item > a:hover{
    background-color: var(--Stone);
    /* Tempo di interazione */
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
    font-weight: 1000;
    color: var(--Shadow);
    padding: 0 var(--2rem);
} 




.article-title {
    /* padding-left: 2rem; */
    margin-bottom: 2rem;
}

.article-title h1 {
    font-size: var(--h1-font-size);
    margin-top: 1.75rem;
    text-align: left;
}

/* .article-section {
    /* border: 1px solid black; */
    /* padding: 0 var(--2rem); */
/* } */ 

.paragraph-title {
    margin-top: 1.5rem ;
    font-size: var(--h2-font-size);
    border-bottom: 1px solid black;
}

/* .paragraph {
    margin: var(--2rem) 0;
} */

.paragraph {
    border-top: 1px solid black;
    
}
/* .salvini {
    display: block;
    margin: 0 auto;
} */

.img-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin: var(--2rem) 0;
    
}
.img-container img {
    width: 60%;
}

.img-container img {
    display: block;
    /* margin: var(--2rem) auto; */
}

/* h4 {
    display: inline-block;
} */

.paragraph-subtitle {
    font-size: var(--h3-font-size);
    margin-top: 1.25rem;
}

.paragraph-subtitle-2 {
    display: block;
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 1rem;
   
}

.pd-2rem {
    padding: var(--2rem);
}

ol {
    list-style-position: inside;
}

.pd-20-x {
    padding: 0 20px;
}

.pd-20-left {
    padding-left: 20px;
}

.pd-2rem-x {
    padding: 0 var(--2rem);
}

.pd-2rem-left {
    padding-left: var(--2rem);
}

.mg-2rem-x {
    margin: 0 var(--2rem);
}

.mg-2rem-y {
    margin: var(--2rem) 0;
}

.mg-2rem {
    margin: var(--2rem);
}

.toc-navbar {
    border: 1px solid black;
    width: 20rem;
    display: none;
    margin: 0 2rem;
  
}

.toc-title {
    font-size: 1.75rem;
}

.toggler {
    display: none;
}

.google-translate-container {
    /* margin-top: 3rem; */
    display: flex;
    justify-content: center;
}

.goog-te-combo {
    width: 250px;
    height: 2.5rem;
    font-size: 20px;
}

.goog-te-gadget {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#google_translate_element {
    width: 70%;
}



@media screen and (max-width: 1200px)  {

    .main-container {
        width: 100%;
        max-width: 100vw;
    }

    .toc-navbar {
        width: 100%;

        margin: 0;
    }

    .toc-container {
        width: auto;
    }
    
    .mg-2rem-x {
        margin: 0 1rem;
    }

    .pd-20-x {
        padding: 0 10px;
    }

    .pd-2rem-x {
        padding: 0 1rem;
    }

    .img-container img {
        width: 100%;
    }

    

    .toggler {
        display: block;
        height: 3rem;
        width: 3rem;
        position: absolute;
        margin-left: 20px;
        z-index: 2;
        opacity: 0;

    }
    
    .hamburger {
        width: 3rem;
        height: 3rem;
        /* position: relative; */
        margin-left: 20px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .hamburger > div {
        width: 2rem;
        background-color: #464646;
        height: 3px;
        position: relative;
        margin: auto 0;
    }

    .hamburger >div::before {
        content: '';
        position: absolute;
        top: -10px;
        width: 2rem;
        height: 3px;
        background-color: #464646;
    }

    .hamburger> div::after {
        content: '';
        position: absolute;
        top: 10px;
        width: 2rem;
        height: 3px;
        background-color: #464646;


    }

    .toggler:checked + .hamburger > div{
        transform: rotate(135deg);
        
        transition: 0.5s;
    }

    .toggler:checked + .hamburger > div::after{
        transform: rotate(90deg);
        top: 0;
        transition: 0.25s;
    }
    
    .toggler:checked + .hamburger > div:before {
        transform: rotate(90deg);
        top: 0;
        transition: 0.25s;
    }

    .toggler:checked ~ .navbar-ul {
        display: block;
        /* background-color: #1f1f1f; */
        
    }

    .navbar-ul {
        display: none;
        
    }

    .navbar-ul > .navbar-item > a {
        
        padding: 0 25px;
        /* background-color: inherit; */
    }

    .navbar-item > a:hover{
        padding: 0 var(--2rem);
    } 


    .article-title h1 {
        font-size: 2.75rem;
    }

    .paragraph-title {
        font-size: 2rem;
    }

    .paragraph-subtitle-2 {
        font-size: 1.25rem;
    }

    .goog-te-combo {
        width: 100%;
    }

    #\:0\.targetLanguage {
        width: 100%;
        max-width: 320px;
    }

    
}

